@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #03366d; */
    color: #fff;
    height: 90vh;
    background: #3b3a37;
}

.yellow {
    color: #fcba03;
}

.add-btn{
    border: 10px green solid;
    color: green;
}

.remove-btn {
    border: 10px red solid;
    color: red;
}


.container {
    height: 100%;
    width: 80vw;
    margin: 70px auto;
    text-align: center;
    position: relative;
}

/* Main Title */
.main-title {
    height: 120px;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 4rem;
}


/* Inner container */
.inner-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    min-height: 100vh;
}

.books-container {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.book-card {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    border: #fff solid 2px;
    border-radius: 5px;
}

.book-card:hover {
    background-color: #fcba03;
    color: #3b3a37;;
}

.book-card > h2{
    padding: 10px;
}


/* Buttons */

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    min-width: 200px;
}

.button-container i {
    font-size: 4rem;
    padding: 10px;
    border-radius: 50%;
}

.button-container i:hover{
    font-size: 6rem;
}



/* Modal */

.modal {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
.form-container {
    width: 400px;
    background: white;
    margin: 70px auto;
    color: #333;
    border-radius: 6px;
    padding: 10px;
}

.form-container label {
    display: block;
    padding: 20px 0px;
}

.form-container button {
    height: 40px;
    width: 100%;
}

