@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #03366d; */
    color: #fff;
    height: 90vh;
}

.container {
    height: 100%;
    width: 80vw;
    margin: 70px auto;
    text-align: center;
    position: relative;
    background: blue;
}

/* Main Title */
.main-title {
    margin-bottom: 70px;
}

/* Inner container */
.inner-container {
    display: flex;
    /* width: 100%;
    height: 80%; */
    justify-content: space-between;
    padding: 10px;
    background-color: red;
}

.books-container {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.book-card {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    margin: 5px;
}

.book-card > h2{
    padding: 10px;
}






/* Modal */

.modal {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
.form-container {
    width: 400px;
    background: white;
    margin: 70px auto;
    color: #333;
    border-radius: 6px;
    padding: 10px;
}

.form-container label {
    display: block;
    padding: 20px 0px;
}

.form-container button {
    height: 40px;
    width: 100%;
}

